/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3b90ff;
  --ifm-color-primary-dark: #3b90ff;
  --ifm-color-primary-darker: #3b90ff;
  --ifm-color-primary-darkest: #3b90ff;
  --ifm-color-primary-light: #7dc0ff;
  --ifm-color-primary-lighter: #7dc0ffe8;
  --ifm-color-primary-lightest: #7dc0ffb6;
  --ifm-code-background-dark: #292d3e;
  --ifm-code-font-size: 95%;

  --ifm-global-radius: 0px;

  --ifm-col-spacing-vertical: 0.5rem;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.main-wrapper {
  position: relative;
}

@media screen and (max-width: 996px) {
  .row .col {
    padding-top: var(--ifm-col-spacing-vertical);
    padding-bottom: var(--ifm-col-spacing-vertical);
  }
}

.tz{
  color: #287ef7;
  font-weight: bold;
}

.contains-task-list {
  list-style: none;
  padding-left: 0;
}

html[data-theme='dark'] .entrypointName {
  color: #a9d780;
  font-weight: bold;
}

html[data-theme='light'] .entrypointName {
  color: rgb(36, 97, 0);
  font-weight: bold;
}

html[data-theme='dark'] .michelsonType {
  color: rgb(129, 199, 132);
}

html[data-theme='light'] .michelsonType {
  color: rgb(56, 142, 60);
}


html[data-theme='dark'] .entrypoint {
  border: 1px solid white;
}

html[data-theme='light'] .entrypoint {
  border: 1px solid black;
}

.entrypoint {
  padding: 10px;
}

.michelsonArgs {
  margin-left: 20px;
}

.michelsonArgsSection {
  margin-top: 10px;
}
.michelsonType {
  padding-left: 5px;
}

html[data-theme='dark'] .entrypointVariableName {
  color:rgb(190, 191, 192)
}

html[data-theme='light'] .entrypointVariableName {
  color:rgb(60, 61, 61)
}

.michelsonArgDescription {
  padding-left: 25px;
}

html[data-theme='dark'] .variableName {
  color: rgb(186, 104, 200)
}

html[data-theme='light'] .variableName {
  color: rgb(123, 31, 162)
}

.michelsonArgsSection h4 {
  font-weight: normal;
}