
/* stylelint-disable docusaurus/copyright-header */

.prism-code {
  font-size: 0.9rem;
  text-align: left;
}

.section-text {
  padding-top: 2rem;
}

.token.command {
  color: white
}

.title {
  font-size: 1.55rem;
}

.title-strong {
  font-weight: 600;
}

.code-with-header {
  height: 100%;
}

.code-header {
  background: var(--ifm-code-background-dark);
  color: #ccc;
  padding: 5px 15px;
  border-radius: 4px 4px 0 0;
  font-size: 0.8rem;
  font-weight: bold;
  /* text-transform: uppercase; */
  border-bottom: 1px solid #444;
}
